<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{ Title }}</title>
	
</head>
<body>
	{{>header}}
		<form action="/tests/{{test._id}}?_method=PUT" method="post">
			<input type="hidden" name="_method" value="PUT">
			<input type="text" name="title" value="{{test.title}}">
			<input type="text" name="description" value="{{test.description}}">
			<input type="submit" value="Submit">
		</form>
	{{>footer}}
</body>
</html>